.container{
    background-color: #009AC7;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
.container h3 {
    background-color: #3C4C5B;
    border: 3px solid black;
    border-radius: 5px;
    color: #EEC10C;
}
h1{
    color: black;
    text-shadow: 2px 2px #3C4C5B;
}
.jumbotron{
    background-color: #009AC7;
}
